footer{
    background-color: rgb(3, 3, 44);
    height: 200px;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
}

.footer-name{
    color: green;
}