.inventoryItems-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

/* inventoryItems responsive */
@media only screen and (max-width:550px) {
    .inventoryItems-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width:551px) and (max-width: 990px) {
    .inventoryItems-container{
        grid-template-columns: repeat(2, 1fr);
    }
}